.card-text {
  > h4 {
    margin-top: 6px;
  }
  > p {
    margin-top: 0px;
  }
}

.scenius-text {
  font-weight: bold;
  color: #20a0ac;
}

.demo-header {
  line-height: 0px;
  margin-bottom: 2em;
}

a {
  color: unset;
}

