/* You can add global styles to this file, and also import other style files */

.hljs-ln-line, .hljs-ln-code {
  margin-left: 12px !important;
  padding-left: 12px !important;
}

.clr-form-control {
  margin-top: 0px !important;
}
