<div class="card">
  <div class="card-header">
    HTTP Autocomplete Model
  </div>
  <div class="card-block">
    <div class="card-text">
      <h4>Explanation</h4>
      <p>Demonstrates the ability to use a URL to parse an array of items from a REST API. In this example,
        the call is used: <a href="https://restcountries.eu/rest/v2/all" target="_blank">https://restcountries.eu/rest/v2/all</a></p>
      <pre><code [lineNumbers]="true" [highlight]="exampleCodeStaticTypescript"></code></pre>
      <pre><code [lineNumbers]="true" [highlight]="exampleCodeStaticHtml"></code></pre>
      <h4>Demo</h4>
      <p>HTTP Call done: <clr-spinner clrInline *ngIf="!modelReady" style="margin-right: 0.5em"></clr-spinner> <span style="font-weight: bold">{{modelReady ? 'Yes' : 'Not yet'}}</span></p>
      <form clrForm autocomplete="off" [formGroup]="form">
        <sc-clr-autocomplete [labelText]="'Autocomplete'" [autocompleteModel]="_httpModel" formControlName="autocomplete"></sc-clr-autocomplete>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link" (click)="sendForm()">Test Form</button>
    <button class="btn btn-sm btn-link" (click)="resetHttpModel()">Reset HTTP Call</button>
  </div>
</div>
