<div class="card">
  <div class="card-header">
    Validated Autocomplete Model
  </div>
  <div class="card-block">
    <div class="card-text">
      <h4>Explanation</h4>
      <p>The component supports validation using Clarity 3.0's new clr-control-container element.</p>
      <pre><code [highlight]="exampleValidatedTypescript" [lineNumbers]="true"></code></pre>
      <pre><code [highlight]="exampleValidatedHtml" [lineNumbers]="true"></code></pre>

      <h4>Demo</h4>
      <form [formGroup]="form" autocomplete="off" clrForm>
        <clr-control-container>
          <label>Autocomplete</label>
          <sc-clr-autocomplete clrControl [autocompleteModel]="model"
                               formControlName="autocomplete"></sc-clr-autocomplete>
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-control-container>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button (click)="sendForm()" class="btn btn-sm btn-link">Test Form</button>
  </div>
</div>

