<div class="card">
  <div class="card-header">
    Auto-resolving Autocomplete Model
  </div>
  <div class="card-block">
    <div class="card-text">
      <h4>Explanation</h4>
      <p>Demonstrates the basic functionality of the autocomplete input, using a static string array
        initializer. This mode will always resolve to the closest search result, if present.</p>

      <p>The <code>resolveToItemInList</code> will always make the autocomplete resolve to the closest match
      based on the user input, or <code>undefined</code> if no such match exists.</p>

      <pre><code [highlight]="exampleCodeStaticTypescript" [lineNumbers]="true"></code></pre>
      <pre><code [highlight]="exampleCodeStaticHtml" [lineNumbers]="true"></code></pre>

      <h4>Demo</h4>
      <form [formGroup]="form" autocomplete="off" clrForm>
        <sc-clr-autocomplete [autocompleteModel]="model" [labelText]="'Autocomplete'" [resolveToItemInList]="true"
                             formControlName="autocomplete" [characterActivationTrigger]="0"></sc-clr-autocomplete>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button (click)="sendForm()" class="btn btn-sm btn-link">Test Form</button>
  </div>
</div>

